body { 
    font-family: Segoe UI;
    background-color: #78B3CE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Menambahkan ini untuk responsivitas */
}

img {
    width: 100%;
    max-width: 300px;
    margin-right: 20px; /* Menambahkan margin untuk jarak antara gambar dan kalkulator */
}

.calculator {
    width: 100%;
    max-width: 250px;
    background-color: #C9E6F0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: azure;
    padding: 20px;
}

#display {
    font-size: 24px;
    border: 2px solid #FBF8EF;
    background-color: #FBF8EF;
    width: 96%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.button {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    background-color: #FBF8EF;
    border: none;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #b9b9b9;
}

#delete, #hasil {
    background-color: #F96E2A;
}