body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #FFEAC5;
    color: #603F26;
    padding: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 1600px;
    display: flex;
    padding: 50px;
    gap: 25px;
    background: #603F26;
    border: black;
    border-radius: 25px;
    box-shadow: 0 0 25px rgb(255, 255, 255);
}

.premis {
    width: 400px;
}

.operasi {
    width: 400px;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

label {
    display: block;
    color: #FFDBB5;
    margin: 10px 0 5px;
}

select {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 10px;
    border-color: black;
    cursor: pointer;
}


button {
    width: 400px;
    height: 25px;
    background-color: #FFDBB5;
    color: #603F26;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6C4E31;
    color: #FFDBB5;
}

.hasil {
    text-align: center;
    color: #FFDBB5;
}